* {
  margin: 0;
  padding: 0;
  color: white;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.menuBar {
  width: 20vw;
  height: 100vh;
  background-color: rgb(5, 5, 5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headshot {
  width: 80%;
  height: 30%;
  border-radius: 30%;
  margin-top: 3%;

}

.menuButtons {
  width: 100%;

  padding-top: 5%;
  padding-bottom: 5%;
  user-select: none;
  cursor: pointer;
}

.icons {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 7%;
  padding-bottom: 6%;
}

.projectContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 100%;
}

.projects {
  height: 70vh;
  width: 60vw;
  display: flex;
  flex-direction: row;
}

.buttonContainer {
  width: 30vw;
  height: 100%;
}

.buttonPanel {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  user-select: none;
  cursor: pointer;
}

.button {
  width: 11vw;
  height: 10vh;
  margin-bottom: 1vh;
  background-color: rgb(5, 5, 5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 130%;
}

.projectImages {
  height: 80vh;
  border-radius: 15px;
}

.projectSkills {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10%;
}

.displayContainer {
  display: flex;
  flex-direction: row;
  width: 60vw
}

.displayContainerImages {
  width: 50%;
  margin: 1%
}

.displayContainerDescription {
  width: 50%;
  margin: 1%;
}

.displayProjects {
  width: 90%;
  height: auto;
}

.directionButtonsContainer {
  display: flex;
  flex-direction: row;
}

.directionButtons {
  height: 3vh;
  width: 20%;
  margin: 1%;
  background-color: rgb(20, 20, 20);
  font-size: 100%;
}

.image {
  position: absolute;
  max-height: 70vh;
  max-width: 30vw;
  transition: 1s ease;
  opacity: 0;
}
.active {
  opacity: 1;
}