.App {
  text-align: center;
  background-color: darkslategray;
  height: 110vh;
  margin-top: -25px;

}
.teleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.TV {
  border-width: 1px ;
  border-color: black;
  height: 60vh;
  width: 80vh;
  background-color: white;

}