body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face{
  font-family: "LondrinaOutline";
  src: local("LondrinaOutline"),
  url("./fonts/LondrinaOutline-Regular.ttf") format("truetype");
}
@font-face{
  font-family: "QuickSand";
  src: local("QuickSand"),
  url("./fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
}
@font-face{
  font-family: "Exo";
  src: local("Exo"),
  url("./fonts/Exo2-VariableFont_wght.ttf") format("truetype");
}
@font-face{
  font-family: "Squareo";
  src: local("Squareo"),
  url("./fonts/Squareo.ttf") format("truetype");
}
@font-face{
  font-family: "Square";
  src: local("Square"),
  url("./fonts/Square.ttf") format("truetype");
}